@model BankTransactions.Models.Bank

@{
    ViewData["Title"] = "Adding bank";
    if (Model.BankId != 0) {
        ViewData["Title"] = $"Editing {Model.BankName}";
    }
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankId" />
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionRate" class="control-label"></label>
                <input asp-for="TransactionRate" class="form-control" />
                <span asp-validation-for="TransactionRate" class="text-danger"></span>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <a asp-action="Index" class="btn btn-secondary w-100">View all</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
